networks:
  reverse-proxy:
    name: reverse-proxy
    driver: bridge

  database:
    driver: bridge

configs:
  reverse-proxy:
    content: |
      global:
        sendAnonymousUsage: false
        checkNewVersion: false

      log:
        level: WARN

      providers:
        docker:
          network: reverse-proxy
          exposedByDefault: false
          watch: true

        file:
          filename: /etc/traefik/dynamic.yaml
          watch: true

      api:
        dashboard: false

      ping: {}

      x-encoded-characters: &encoded-characters
        encodedCharacters:
          allowEncodedSlash: true
          allowEncodedSemicolon: true
          allowEncodedPercent: true
          allowEncodedQuestionMark: true

      x-http: &http
        http:
          middlewares:
            - compress@file
          <<: *encoded-characters

      entryPoints:
        http:
          address: :80/tcp
          asDefault: true
          <<: *http

  reverse-proxy-dynamic:
    content: |
      http:
        middlewares:
          compress:
            compress: {}

        routers:
          unknown:
            rule: HostRegexp(`.+`) && !Host(`x.y`)
            service: noop@internal
            priority: -9999

services:
  reverse-proxy:
    restart: unless-stopped
    image: ${REVERSE_PROXY_IMAGE}
    healthcheck:
      test: traefik healthcheck
      interval: 10s
      timeout: 10s
      retries: 10
    configs:
      - source: reverse-proxy
        target: /etc/traefik/traefik.yaml
      - source: reverse-proxy-dynamic
        target: /etc/traefik/dynamic.yaml
    command: >
      --configFile /etc/traefik/traefik.yaml
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - "${REVERSE_PROXY_PORT}:80/tcp"
    networks:
      - reverse-proxy

  p-stream:
    restart: unless-stopped
    build:
      context: ${FRONTEND_REPOSITORY}
      args:
        APP_DOMAIN: http://localhost:80
        PWA_ENABLED: true
        OPENSEARCH_ENABLED: false
        NORMAL_ROUTER: true
        HAS_ONBOARDING: false
        HIDE_PROXY_ONBOARDING: true
        ALLOW_AUTOPLAY: false
        ALLOW_DEBRID_KEY: false
        ALLOW_FEBBOX_KEY: false
        BACKEND_URL: ${REVERSE_PROXY_HOST_SCHEME}://${REVERSE_PROXY_HOST}:${REVERSE_PROXY_PORT}${BACKEND_PATH}
        CORS_PROXY_URL: ${REVERSE_PROXY_HOST_SCHEME}://${REVERSE_PROXY_HOST}:${REVERSE_PROXY_PORT}${PROXY_PATH}
        M3U8_PROXY_URL: ${REVERSE_PROXY_HOST_SCHEME}://${REVERSE_PROXY_HOST}:${REVERSE_PROXY_PORT}${PROXY_PATH}
        TMDB_READ_API_KEY: ${SECRETS_FRONTEND_TMDB_READ_ACCESS_TOKEN}
    labels:
      traefik.enable: true
      traefik.http.middlewares.frontend.errors.status: 404
      traefik.http.middlewares.frontend.errors.service: frontend
      traefik.http.middlewares.frontend.errors.query: /
      traefik.http.routers.frontend.rule: Host(`${REVERSE_PROXY_HOST}`) && PathPrefix(`${FRONTEND_PATH}`)
      traefik.http.routers.frontend.service: frontend
      traefik.http.routers.frontend.entrypoints: http
      traefik.http.routers.frontend.middlewares: frontend@docker
      traefik.http.routers.frontend.priority: 1
      traefik.http.services.frontend.loadbalancer.server.port: 80
    networks:
      - reverse-proxy
    depends_on:
      reverse-proxy:
        condition: service_healthy

  p-stream-backend:
    restart: unless-stopped
    image: ${BACKEND_IMAGE}
    environment:
      DATABASE_URL: "postgresql://${BACKEND_DATABASE_USER}:${SECRETS_BACKEND_DATABASE_PASSWORD}@p-stream-backend-database:5432/${BACKEND_DATABASE_NAME}"
      META_NAME: Backend
      CAPTCHA: false
      CRYPTO_SECRET: "${SECRETS_BACKEND_CRYPTO_SECRET}"
      TMDB_API_KEY: ${SECRETS_BACKEND_TMDB_API_KEY}
      TRAKT_CLIENT_ID: ${SECRETS_BACKEND_TRAKT_CLIENT_ID}
      TRAKT_SECRET_ID: ${SECRETS_BACKEND_TRAKT_CLIENT_SECRET}
    labels:
      traefik.enable: true
      traefik.http.middlewares.backend.stripprefix.prefixes: ${BACKEND_PATH}
      traefik.http.routers.backend.rule: Host(`${REVERSE_PROXY_HOST}`) && PathPrefix(`${BACKEND_PATH}`)
      traefik.http.routers.backend.service: backend
      traefik.http.routers.backend.entrypoints: http
      traefik.http.routers.backend.middlewares: backend@docker
      traefik.http.routers.backend.priority: 2
      traefik.http.services.backend.loadbalancer.server.port: 3000
    networks:
      - reverse-proxy
      - database
    depends_on:
      reverse-proxy:
        condition: service_healthy
      p-stream-backend-database:
        condition: service_healthy

  p-stream-backend-database:
    image: ${DATABASE_IMAGE}
    restart: unless-stopped
    healthcheck:
      test: pg_isready -d ${BACKEND_DATABASE_NAME} -U ${BACKEND_DATABASE_USER}
      interval: 10s
      timeout: 10s
      retries: 10
    networks:
      - database
    volumes:
      - ./data/backend/database:/var/lib/postgresql
    environment:
      PGDATA: /var/lib/postgresql/data
      POSTGRES_DB: ${BACKEND_DATABASE_NAME}
      POSTGRES_USER: ${BACKEND_DATABASE_USER}
      POSTGRES_PASSWORD: "${SECRETS_BACKEND_DATABASE_PASSWORD}"

  p-stream-proxy:
    restart: unless-stopped
    image: ${PROXY_IMAGE}
    environment:
      ENABLE_CACHE: true
    labels:
      traefik.enable: true
      traefik.http.middlewares.proxy.stripprefix.prefixes: ${PROXY_PATH}
      traefik.http.routers.proxy.rule: Host(`${REVERSE_PROXY_HOST}`) && (PathPrefix(`${PROXY_PATH}`) || PathPrefix(`${M3U8_PROXY_PATH}`) || PathPrefix(`${TS_PROXY_PATH}`))
      traefik.http.routers.proxy.service: proxy
      traefik.http.routers.proxy.entrypoints: http
      traefik.http.routers.proxy.middlewares: proxy@docker
      traefik.http.routers.proxy.priority: 2
      traefik.http.services.proxy.loadbalancer.server.port: 3000
    networks:
      - reverse-proxy
    depends_on:
      reverse-proxy:
        condition: service_healthy

  p-stream-hls-downloader:
    restart: unless-stopped
    image: ${HLS_DOWNLOADER_IMAGE}
    labels:
      traefik.enable: true
      traefik.http.middlewares.hls-downloader.stripprefix.prefixes: ${HLS_DOWNLOADER_PATH}
      traefik.http.routers.hls-downloader.rule: Host(`${REVERSE_PROXY_HOST}`) && PathPrefix(`${HLS_DOWNLOADER_PATH}`)
      traefik.http.routers.hls-downloader.service: hls-downloader
      traefik.http.routers.hls-downloader.entrypoints: http
      traefik.http.routers.hls-downloader.middlewares: hls-downloader@docker
      traefik.http.routers.hls-downloader.priority: 2
      traefik.http.services.hls-downloader.loadbalancer.server.port: 80
    networks:
      - reverse-proxy
    depends_on:
      reverse-proxy:
        condition: service_healthy
